*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

label{
    text-align: start;
    margin: 10px;
}

input{
    width: 300px;
    margin-left: 10px;
}

#th {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 20px;
    width: 300px; 
    margin-left: 10px;
    margin-bottom: 10px;
}

#container{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    height: 20px;
    width: 300px;
}

.botao {
    height: 25px;
    width: 60px;
}